Webpack
    Babel - интерпритация JS кода для всех браузеров
    Scss - предпроцессор
    Eslint - проверка написания JS кода
    Два режима:
        - Dev:
            Dev Server - автозапуск приложения после изменений в коде
            SourceMaps - данные для разработки в браузере
            Eslint  - проверка кода
            Not Minified JS & CSS - все файлы в исхожном виде
        - Prod
            Minified Code

Git

Урок 62
Eslint отключен, т.к мешает

